#startBtn {
	vertical-align: baseline;
	-webkit-transform: rotateX( 35deg );
	position: relative;
	display: inline-block;
	width: 55px;
	padding: 20px 7px;
	margin: 0px 10px;
	background-color: #FF0080;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.5);

	border: 1px solid;
	border-color: #B21522;
	border-radius: 50px;

	-webkit-box-shadow: inset 5px -4px 5px rgba(255,255,255,0.2),
						inset 5px 1px 5px rgba(255,255,255,0.2),
						/**/
						0px 8px 0px #DD006E,
						0px 10px 0px #DA0055,
						0px 11px 0px #DA0055;
}

#startBtn:hover {
	background-color: #C80064; /*#B21522*/
	color: #e3e3e3;
}

#startBtn:active {
	top: 8px;
	-webkit-box-shadow: inset 0px 4px 5px rgba(255,255,255,0.4),
						inset 0px -1px 5px rgba(255,255,255,0.2),
						/**/
						0px 8px 0px #231F20,
						/**/
						0px 9px 5px rgba(0,0,0,0.5);
}

#saveBtn {
	vertical-align: baseline;
	width: 60px;
	height: 60px;
	border-top-left-radius: 15%;
	border-top-right-radius: 25%;
	border-bottom-left-radius: 15%;
	border-bottom-right-radius: 15%;
	background-color: #00AEEF;
	box-shadow: inset 3px 3px 5px #000000;
}

#saveBtn:hover {
	background-color: #009EDF;
}

#saveBtn .protector {
	background-color: #909090;
	width: 28px;
	height: 21px;
	margin: auto;
	margin-top: 3px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 2px 2px 3px #000000;
}

#saveBtn .hole {
	background-color: #404040;
	width: 9px;
	height: 14px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: 5px;
	box-shadow: inset 1px 1px 1px #000000;
}

#saveBtn .label {
	width: 30px;
	height: 19px;
	vertical-align: bottom;
	border-style:solid;
	border-color: #999999;
	border-top-width:5px;
	border-left-width: 5px;
	border-radius:5px;
	margin: auto;
	margin-bottom: 0px;
	margin-top: 10px;
}

#clearBtn {
	width: 70px;
	margin: auto;
	background: #FF0;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FF9), to(#EE0));
	box-shadow: #666 2px 2px 7px;
	border-radius: 15px;
	border:1px darkblue solid;
	padding: 5px 10px;
	display: block;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}

#clearBtn:hover{
	background: #EE0;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FF9), to(#FF5));
}

#clearBtn:active{
	position:relative;
	left:1px;
	top:1px;
	box-shadow: #666 1px 1px 7px;
}